<header class="p-4 bg-gradient-to-r from-sky-900 via-slate-800 to-gray-900 w-full shadow-md">
  <div class="flex items-center px-10 mx-auto gap-8">
    
    <!-- Logo Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" 
         fill="none" viewBox="0 0 24 24" 
         stroke-width="1.5" stroke="currentColor" 
         class="w-8 h-8 text-amber-400">
      <path stroke-linecap="round" stroke-linejoin="round" 
        d="M15 19.128a9.38 9.38 0 0 0 2.625.372 
           9.337 9.337 0 0 0 4.121-.952 
           4.125 4.125 0 0 0-7.533-2.493M15 
           19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 
           19.128v.106A12.318 12.318 0 0 1 
           8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 
           6.375 0 0 1 11.964-3.07M12 
           6.375a3.375 3.375 0 1 1-6.75 
           0 3.375 3.375 0 0 1 6.75 0Zm8.25 
           2.25a2.625 2.625 0 1 1-5.25 
           0 2.625 2.625 0 0 1 5.25 0Z" />
    </svg>

     <a class="text-3xl font-bold text-white cursor-pointer" routerLink="">SweetMeet </a>

     <div class="dropdown dropdown-start">
  <button tabindex="0"  class="btn m-1 flex flex-col justify-center align-middle text-gray-900 cursor-pointer  ">{{selectedthemes()}} </button>
  <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
    @for (theme of themes; track $index) {
     <li><a (click)="handleSelectedTheme(theme)">{{theme}}</a></li>
    }
    
   </ul>
</div>


 @if (accountService.CurrentUser()) 
 {
  <nav class="flex text-lg text-amber-300 gap-8 font-medium"> 
      <a routerLink="/members" routerLinkActive="text-accent" class="hover:text-white transition cursor-pointer">Matches</a>
      <a routerLink="/lists" routerLinkActive="text-accent" class="hover:text-white transition cursor-pointer" >Lists</a>
      <a routerLink="/Messages" routerLinkActive="text-accent" class="hover:text-white transition cursor-pointer" >Messages</a>
    </nav>
 }
           <a routerLink="/error" routerLinkActive="text-accent" class="hover:text-white transition cursor-pointer" >error</a>

    
    <div class="flex ml-auto gap-6"> 
      @if (accountService.CurrentUser(); as member)
      {
<div class="dropdown dropdown-end ">
  <div tabindex="0" role="button" class="flex items-center text-3xl text-yellow-300 cursor-pointer gap-3 "> 
<img [src]="accountService.CurrentUser()?.imageURl||'/user.webp' " class="w-8 h-8 rounded-full">
  <span class="text-3xl"> {{member.name}}</span>
  </div>
  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
    <li><a routerLink="/members/{{member.userId}}">Edit Profile</a></li>
    <li><a (click)="logOut()">LogOut</a></li>
  </ul>
</div>
      }

        
      @else { 
<form #LoginForm (ngSubmit)="Login()" class="flex items-center gap-5"> 
        <input [(ngModel)]="Credits.Email"
        name="Email"
         type="text" 
               class="rounded-lg px-3 py-2 text-white bg-slate-700 border border-slate-600 
                      placeholder-gray-400 focus:placeholder-transparent 
                      focus:outline-none focus:border-amber-400 transition" 
               placeholder="Email">

        <input
        [(ngModel)]="Credits.Password"
        name="Password"
         type="password" 
               class="rounded-lg px-3 py-2 text-white bg-slate-700 border border-slate-600 
                      placeholder-gray-400 focus:placeholder-transparent 
                      focus:outline-none focus:border-amber-400 transition" 
               placeholder="Password">

        <button class="bg-amber-500 hover:bg-amber-600 text-white font-semibold 
                       py-2 px-5 rounded-lg shadow transition">
          Login
        </button>
      </form>
        
      }

      
      
    </div>
    
  </div>
</header>
