@if (PaginatedMembers(); as Paginatedresult) {
<div class="flex flex-col w-full">
  <div class="flex justify-between items-center">
    <div class="flex gap-3 items-center">
      <button (click)="openModal()" class="btn btn-primary">Select Filters</button>
      <button (click)="resetFilter()" class="btn btn-neutral">Rest Filters</button>
      <div class="Text-lg bg-base-100 py-2 px-4 border-1 rounded-lg text-primary capitalize">
        {{DisplayMessage}} 

      </div>

    </div>
    @if (Paginatedresult.paginatedMetaData; as metaData) {

    <app-paginator [pageNumber]="metaData.currentPage" [pagesize]="metaData.pageSize" [totalPages]="metaData.totalPages"
      (pageChange)="onPageChange($event)">
    </app-paginator>

    }

  </div>
 @if (Paginatedresult.items; as members) {

<div class="grid grid-cols-5 gap-6 gap-y-10 mt-10">

  @for (member of members; track member.id) {
  <app-member-card [member]="member" />
  }

</div>

}
</div>
}
<app-filter-model
#filterModal
 [hidden]="!PaginatedMembers()" (closeModal)="onclose()"
  (submitData)="onfilterChange($event)"></app-filter-model>